HNLink      = #174F82
HNBlue      = #85BEE6
HNPink      = #E2007A
HNRed       = #D73E3A // Zpravy
HNBrown     = #A1826C // Byznys
HNLightPink = #C283B5 // Life
HNViolet    = #A077CE // Art
HNMaroon    = #B51339 // Tech
HNGreen     = #A4C400 // Sport
HNOrange    = #EE7000 // Dialog
HNYellow    = #F57E20 // Future

PartyKSCM = #e3001a
PartyCSSD = #f29400
PartyODS  = #006ab3
PartyTOP  = #7c0042
PartyVV   = #84d0f1
PartySPOZ = #FB9A99
PartySZ   = #00AD00
PartyKDU  = #000000

scaleQualitativeMedium = #7FC97F #BEAED4 #FDC086 #386CB0 #BF5B17 #F0027F
